<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Download Video Chunks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Готовые фрагменты видео</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for file in files %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <video width="240" controls style="margin-top: 10px;">
                                <source src="{{ url_for('download_file', filename=file) }}" type="video/mp4">
                                Ваш браузер не поддерживает воспроизведение видео.
                            </video>
                        </div>
                        <div>
                            <a href="{{ url_for('download_file', filename=file) }}" class="btn btn-primary btn-download">Скачать</a>
                            <button class="btn btn-delete btn-sm" onclick="deleteFile('{{ file }}')">Удалить</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
